/* Garantir que les colonnes sont égales en hauteur */
.container .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container .row .col-lg-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garantir que le contenu est bien réparti dans chaque colonne */
  }
  
  .at-iconbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Permet de s'assurer que les colonnes remplissent toute la hauteur */
  }
  
  .at-iconbox-title {
    margin-bottom: 20px;
  }
  
  .at-iconbox-text {
    margin-bottom: 20px;
  }
  
  .at-icon-bar {
    margin-top: auto; /* Pousse la barre en bas de la colonne */
  }
  